<?xml version="1.0" encoding="utf-8" ?> 
<RunSettings>
	<TestRunParameters>
		<Parameter name="Headless" value="false"/>
		<Parameter name="BrowserType" value="Chrome"/>
		<Parameter name="ImplicityWait" value="10"/>
		<Parameter name="DownloadFolder" value="C:\Users\mamaka11\Downloads\"/>
		<Parameter name="UserName" value="margo.aleksandrovna@ya.ru"/>
		<Parameter name="UserPass" value="Guru$#123SomeGuru"/>
	</TestRunParameters>
</RunSettings>
	
